
{% extends 'main/base.html' %}

{% block title %}
Создание объявления
{% endblock %}

{% block content %}





<div class="container" style="width:100%; padding: 0% 20%;">

    <form action="" method="post">
        {% csrf_token %}
        <h3>Форма создания объявления</h3>
        <input type="text" class="form-control" placeholder="Тема объявления" name="title" maxlength="50">
        <br>
        <textarea id="desc" type="text" name="description" placeholder="Описание" class="form-control" maxlength="500"></textarea>
        <br>
        <input type="submit" class="btn btn-success" value="Создать">





    </form>
    
    

</div>
{% endblock %} 